.main-chat
  .main-chat__group-info
    .main-chat__group-info-left
      .main-chat__test
        test
      .main-chat__Menbers_name
        Menber : masa
    .main-chat__Edit
      .main-chat__Edit-box
        = link_to "Edit"

  .main-chat__message-form
    .main-chat__message-1
      .main-chat__name_and_time_1
        .main-chat__name-1
          masa
        .main-chat__time-1
          2020/1/1(Wed) 00:00:00
      .main-chat__comment-1
        おはよう！

    .main-chat__message-2
      .main-chat__name_and_time_2
        .main-chat__name-2
          masa 
        .main-chat__time-2
          2020/1/1(Wed) 00:00:00
      .main-chat__comment-2
        おはよう！

  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas','image')
          %input{type: "file",class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}